@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

* {
  margin: 0;
	padding: 0;
	border: 0;
}

:root {
  --dash-w: 15px;
  --dash-h: 1px;
  --dash-black:100%;
  --dash-trsp: 0%;
  --map-margin: 35px;  /* what is edited here goes in MarsMap.vue too */


}

.border-full {
  background-image: linear-gradient(to right, black var(--dash-black), transparent var(--dash-trsp)), linear-gradient(to right, black var(--dash-black), transparent var(--dash-trsp)), linear-gradient(to bottom, black var(--dash-black), transparent var(--dash-trsp)), linear-gradient(to bottom, black var(--dash-black), transparent var(--dash-trsp));
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: var(--dash-w) var(--dash-h), var(--dash-w) var(--dash-h), var(--dash-h) var(--dash-w), var(--dash-h) var(--dash-w);
}

.border-top-right-bottom {
  background-image: linear-gradient(to right, black var(--dash-black), transparent var(--dash-trsp)), linear-gradient(to right, black var(--dash-black), transparent var(--dash-trsp)), linear-gradient(to bottom, black var(--dash-black), transparent var(--dash-trsp));
  background-position: left top, left bottom, right top;
  background-repeat: repeat-x, repeat-x, repeat-y;
  background-size: var(--dash-w) var(--dash-h), var(--dash-w) var(--dash-h), var(--dash-h) var(--dash-w);
}

.border-left-right {
  background-image: linear-gradient(to bottom, black var(--dash-black), transparent var(--dash-trsp)), linear-gradient(to bottom, black var(--dash-black), transparent var(--dash-trsp));
  background-position: left top, right top;
  background-repeat: repeat-y, repeat-y;
  background-size: var(--dash-h) var(--dash-w), var(--dash-h) var(--dash-w);
}

.border-right-bottom {
  background-image: linear-gradient(to bottom, black var(--dash-black), transparent var(--dash-trsp)),linear-gradient(to right, black var(--dash-black), transparent var(--dash-trsp));
  background-position: right top, left bottom;
  background-repeat: repeat-y, repeat-x;
  background-size: var(--dash-h) var(--dash-w), var(--dash-w) var(--dash-h);
}

.border-top-right {
  background-image: linear-gradient(to right, black var(--dash-black), transparent var(--dash-trsp)), linear-gradient(to bottom, black var(--dash-black), transparent var(--dash-trsp));
  background-position: left top, right top;
  background-repeat: repeat-x, repeat-y;
  background-size: var(--dash-w) var(--dash-h), var(--dash-h) var(--dash-w);
}

.border-top {
  background-image: linear-gradient(to right, black var(--dash-black), transparent var(--dash-trsp));
  background-position: left top;
  background-repeat: repeat-x;
  background-size: var(--dash-w) var(--dash-h);
}

.border-right {
  background-image:  linear-gradient(to bottom, black var(--dash-black), transparent var(--dash-trsp));
  background-position: right top;
  background-repeat: repeat-y;
  background-size: var(--dash-h) var(--dash-w);
}

.border-bottom {
  background-image: linear-gradient(to right, black var(--dash-black), transparent var(--dash-trsp));
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: var(--dash-w) var(--dash-h);
}

.border-left {
  background-image:  linear-gradient(to bottom, black var(--dash-black), transparent var(--dash-trsp));
  background-position: left top;
  background-repeat: repeat-y;
  background-size: var(--dash-h) var(--dash-w);
}

body{
  font-family: 'Inconsolata', monospace !important;
  justify-content: center;
  padding: 2em;
}

/* INFO */

div#info {
  margin: auto;
  width: 90%;
}


@media only screen and (min-width: 800px) { 
  div#info {
    width: 70%;
  }
}

h1#info-title {
  font-size: xxx-large;
  width: 100%;
  text-align: center;
  margin: auto;
}

#info > h1 {
  line-height: 2em;
}

#info > p {
  line-height: 1.6em;
}

#info > ul {
  line-height: 1.6em;
}



/* CONTROL PANEL */

.tp-dfwv {
  position: fixed !important;
  top: 30% !important;
  right: 5% !important;
}

.tp-dfwv * {
  border-left: 0px !important;
}

.tp-lblv_l {
  padding-right: 4px !important;
}

.hidden {
  display:none;
}

#container{
  /* font-family: 'VT323', monospace; */
  font-family: 'Inconsolata', monospace !important;
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "pic pic pic pic pic pic pic"
    "head head head head head head head"
    "cal cal cal cal cal cal cal"
    "orb orb orb map map map map"
    ;
  max-width: 1024px;
  margin: 100px auto;
}

#picture {
  grid-area: pic;
  height: 700px; 
  padding-bottom: 8px;
  margin-bottom: -1px;
}

#canvasPic {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 25px);
  max-height: 100%;
}

.canvasCapt {
  font-size: small;
  margin:5px 10px 0px 15px;
}

#header {
  grid-area: head;
  padding: 25px 15px;
}

#header h1 {
  margin-bottom: 8px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  text-align: right;
}

#calendar {
  grid-area: cal;
}

#orbit {
  grid-area: orb;
  padding: 10px 10px;
}

#map {
  grid-area: map;
}

#calendar > div{
  width: calc(100% / 7);
  display: inline-block;
}

.wholeBlack {
background-color: black;
}

.week-day {
  margin-left: 47%;
  padding: 10px 0px;
}

.sol-day {
  margin-left: 10px;
  
}

.sol-day h2 {
  font-size: 1.6em;
  display: inline-block;
}

.sol-box {
  padding: 10px 0px 10px 0px;
}

.sol-number {
  margin: 5px 0px 65px 10px;
  font-size: small;
}

/* solar system graph*/

.visualization {
  position: relative;
  margin-top: 20px;
  max-width: 100% !important;
}


.visualization > canvas {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100% !important;
  height: auto !important;
}

.visualization > .loader {
  visibility: hidden;
}

.labelContainer {
  width: 100% !important;
  height: 100% !important;
}

.dida-orbit {
  font-size: small;
  height: 1px;
  line-height: 1.4;
  margin-top: 5px;
  padding-top: 15px;
}

/* mars map */

#map {
  overflow: hidden;
  margin: 0 !important;
  padding: 10px 10px;
}

.mapContainer {
  border: 2px solid black;
  -webkit-transform: translate(var(--map-margin), var(--map-margin));
  transform: translate(var(--map-margin), var(--map-margin));
}
.boundary {
  fill: transparent;
  stroke: black;
  -webkit-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.bottomAxisLabel {
    position: absolute;
    left: calc(var(--map-margin) + calc(100% / 2 - 17px));
    top: calc(100% + var(--map-margin) + 30px);
}
.topAxisLabel {
    position: absolute;
    left: calc(var(--map-margin) + calc(100% / 2 - 17px));
    top: calc(var(--map-margin) - 40px);
}

.bottomAxis {
  position: absolute;
  overflow: visible;
  left: var(--map-margin); 
}
.bottomAxisOutside{
top: calc(100% + var(--map-margin) - 4px);
}

.bottomAxisInside {
top: calc(100% + var(--map-margin) + 10px);
-webkit-transform: translate(-2px , 100%);
transform: translate(-2px , 100%);
}
.topAxis {
  position: absolute;
  overflow: visible;
  left: var(--map-margin);
  top: var(--map-margin);
  display: none;
}

.leftAxis {
    position: absolute;
    overflow: visible;
    top: var(--map-margin);
}
.leftAxisInside {
  -webkit-transform: translate(0px , -2px);
  transform: translate(0px , -2px);
  left: calc(var(--map-margin) - 6px);
}
.leftAxisOutside {
  left: calc(var(--map-margin));
  display: none;
}
.rightAxis {
    position: absolute;
    overflow: visible;
    top: var(--map-margin);
    left: calc( 100% - var(--map-margin) - 10px);
}
.rightAxis text{
    transform: translate(12px, 0);
}
.leftAxisLabel {
    position: absolute;
    transform: rotate(-90deg);
    left: calc(var(--map-margin) - 50px);
    top: calc(var(--map-margin) + calc(100% / 2 - 10px));
  }
  .rightAxisLabel {
    position: absolute;
    transform: rotate(90deg);
    left: calc(100% + var(--map-margin) + 25px);
    top: calc(var(--map-margin) + calc(100% / 2 - 10px));
  }
.domain {
  display:none;
}
.place-label {
  user-select: none;
  background-color: white;
}
.tick text {
  user-select: none;
}

.dida-map {
  font-size: small;
  line-height: 1.4;
}

.dida-transfer {
  width: 48%;
}